#container {
    box-sizing: border-box;
    height: 90vh;
    width: 90vh;
    margin: 0 auto;
    border: 1px solid black;
    
    /* border-left: 25px solid #df0505;
    border-right: 25px solid #df0505; */

    /* need to fix it when resized horizontally */
}

.horizontal {
    box-sizing: border-box;
    width: 100%;  
}

.block {
    box-sizing: border-box;
    float: left;
    height: 100%;
    background: rgb(245,245,245);
    border: 0.1px solid black;
    
    
}

#gridHover {
    background: black;
}

#clear-btn {
    
    float: left;
    
}

header {
    
    height: 5vh;
    width: 100%;
    /* background: #a18787; */
}
h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
    font-size: 1.5em;
    
}

footer {
    height: 5vh;
    width: 100%;
}
#button-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}
 

